<style>
    footer {
        text-align: center;
        padding: 10px 0;
        background-color: #fff;
        /* replace with the color you want */
    }

    .footer-header {
        font-size: 1.17em;
        /* Size is typically smaller than h2 and larger than h4 */
        font-weight: bold;
        /* Headings are usually bold */
        margin-top: 1em;
        /* Add space above the heading */
        margin-bottom: 0;
        /* Add space below the heading */
    }

    .footer-contact {
        display: flex;
        justify-content: center;
        gap: 30px;
        align-items: center;
        padding: 10px 0;
        font-size: 14px;
    }

    .foooter-whatsapp-icon {
        width: 20px;
        height: 20px;
        vertical-align: center;
    }

    footer a {
        color: #000;
        /* replace with the color you want */
        text-decoration: none;
    }

    footer small {
        color: grey;
        /* replace with the color you want */
    }
</style>


<!-- <div style="clear:both;"></div> -->
<footer>
    <div class="footer-header">?Want your own love code</div>
    <div class="footer-contact">
        <a href="tel:054-7899741">054-7899741</a>

        <a
            href="https://wa.me/972547899741?text=%D7%94%D7%99%D7%99%2C%20%D7%90%D7%A9%D7%9E%D7%97%20%D7%9C%D7%A4%D7%A8%D7%98%D7%99%D7%9D%20%D7%A0%D7%95%D7%A1%D7%A4%D7%99%D7%9D%20%D7%A2%D7%9C%20%D7%99%D7%A6%D7%99%D7%A8%D7%AA%20%D7%B4%D7%A7%D7%95%D7%93%20%D7%90%D7%94%D7%91%D7%94%D7%B4%20%D7%9E%D7%A9%D7%9C%D7%99%20%F0%9F%AB%B6%F0%9F%8F%BB">
            <img src="../img/whatsapp-icon.png" alt="WhatsApp" class="foooter-whatsapp-icon">
        </a>
        <a href="mailto:hello@lovecode.co.il">hello@lovecode.co.il</a>
    </div>
    <small>ⓒ Love Code 2023</small>
</footer>