/* * {
    outline: 1px solid red;
} */
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&family=Meow+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Default styles */
body,
html {
    font-family: 'Assistant', sans-serif;
    /* Reset margin and padding for the entire page */
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #333;
    height: 100vh;
    overflow: hidden;
    max-width: 100%;
    /* prevents scrolling on the body */
}

.container {
    height: 100%;
    /* This padding should not be applied on the container but rather on the internal page */
    /* padding: 15px; */
    /* This makes sure you can't scroll sideways even elements overflow th page */
    overflow-x: hidden;
    /* adds scrolling to the container if necessary */
}

h1 {
    font-size: 2em;
}

p {
    font-size: 1em;
}

/* Grid system */
.grid {
    display: grid;
    justify-content: space-around;
    width: 100%;
}

.grid-item {
    flex: 1;
    margin: 10px;
    padding: 20px;
    /* background-color: #ddd; */
    text-align: center;
}

/* Desktop Warning */
@media (min-width: 1024px) {
    body::before {
        content: "אנחנו מתנצלים, אך האתר זמין רק לצפייה מהטלפון הנייד";
        display: block;
        text-align: center;
        font-size: 2em;
        color: red;
    }

    .container {
        display: none;
    }
}


/* For all page headers */
.generic-page-header {

    font-size: 2em;
    /* You can adjust the size to fit your design */
    color: #000000;
    /* This is the text color, adjust as necessary */
    text-align: center;
    /* This centers the text, adjust as necessary */
    font-weight: bold;
    /* This makes the text bold, adjust as necessary */
    margin: 20px 0;
    /* This provides space above and below the heading, adjust as necessary */
font-family: PT serif;

}

/* For all page intro paragraphs  */
.generic-page-intro-paragraph {

    /* font-size: 2em; */
    /* You can adjust the size to fit your design */
    color: #000000;
    /* This is the text color, adjust as necessary */
    text-align: justify;
    /* This centers the text, adjust as necessary */
    /* font-weight: bold; */
    /* This makes the text bold, adjust as necessary */
    margin: 20px 10px;
    /* This provides space above and below the heading, adjust as necessary */
    padding: 5px 10px 10px;
}

.grid-item-image {
    width: 100%;
}

.food-menu {
    background-color: #F6F0F1;
    stroke: #000;
    stroke-width: 1px;
    border-radius: 30px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-family: Bona Nova;
}

h3.menu-category-title {
    color: #A95A63;
    text-align: center;
    font-family: Bona Nova;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: auto;
}

.menu-category {
    padding: 10px;
    margin: 10px auto 0px;
}

button {
    border-radius: 30px;
    border: 1px solid #C8C8C8;
    text-align: center;
    background-color: #9D5C63;
    color: white;
    font-family: 'Assistant', sans-serif;
    /* font-size: 16px; */
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 150px;
    height: 50px;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.grid.family-tree {
    grid-template-columns: 50% 50%;
    margin-top: 30px;
}

.grid-item.family-category-title {
    grid-column: 1 / span 2;
    background: #FEF5EF;
    color: #000;
text-align: center;
/* text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
font-family: Assistant;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.grid-item.family-single-item {
    grid-column: 1 / span 2;
    padding: 20px 0px 0px;
}

.grid-item.family-double-item {
    padding: 0px;
}

.grid-item.family-single-item img {
    width: 60%;
}

.grid-item.family-single-item p {
    width: 80%;
    margin: auto;
    padding-bottom: 10px;
}


.grid-item.family-double-item img {
    width: 90%;
}

.grid.family-tree h3 {
    font-size: 16px;
}

.grid.family-tree p {
    font-size: 14px;
    text-align: justify;
}